
:root {
    --strawberry-red: #f94144ff;
    --atomic-tangerine: #f3722cff;
    --carrot-orange: #f8961eff;
    --coral-glow: #f9844aff;
    --tuscan-sun: #f9c74fff;
    --willow-green: #90be6dff;
    --seagrass: #43aa8bff;
    --dark-cyan: #4d908eff;
    --blue-slate: #577590ff;
    --cerulean: #277da1ff;
}